{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <h1 align="center">
        <img alt="Logo" src="{% static "images/logo.png" %}" width="40" height="40"/>
        Welcome to book-store!
      </h1>
    </header>
    {% block content %}{% endblock %}
    <footer>
      <center><i>Powered by Django</i></center>
    </footer>
  </body>
</html>
